<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 树形视图</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/animate.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>

	</style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">

        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>分类</h5>
                    </div>
                    <div class="ibox-content">

                        <div id="jstree">
                        {volist name="categoryList" id="vo"}
                            <ul>
                            {if condition="$vo.isend eq 1"}
                            <li data-jstree='{"type":"html"}'> <a class="{if condition="input('id',0) eq $vo.id"}jstree-clicked{/if}" href="{:url('content',['id'=>$vo.id])}">{$vo.catname}</a></li>
                            {else/}
                                <li class="jstree-open">{$vo.catname}
                                {volist name="vo.son" id="voson"}
                                    <ul>
                                    {if condition="$voson.isend eq 1"}
                            <li data-jstree='{"type":"html"}'> <a class="{if condition="input('id',0) eq $voson.id"}jstree-clicked{/if}" href="{:url('content',['id'=>$voson.id])}">{$voson.catname}</a></li>
                            {else/}
                                        <li class="jstree-open">{$voson.catname}
                                        {volist name="voson.son" id="voson1"}
                                            <ul>
                                            {if condition="$voson1.isend eq 1"}
                            <li data-jstree='{"type":"html"}'> <a class="{if condition="input('id',0) eq $voson1.id"}jstree-clicked{/if}" href="{:url('content',['id'=>$voson1.id])}">{$voson1.catname}</a></li>
                                             {else/}   
                                             <li class="jstree-open">{$voson1.catname}
                                             <ul>
                                             {volist name="voson1.son" id="voson2"}
                                             <li data-jstree='{"type":"html"}'> <a class="{if condition="input('id',0) eq $voson2.id"}jstree-clicked{/if}" href="{:url('content',['id'=>$voson2.id])}">{$voson2.catname}</a></li>
                                             {/volist}
                                             </ul>
                                             </li>
											 {/if}
                                            </ul>
                                         {/volist} 
                                        </li>
                                         {/if}
                                    </ul>
                                   {/volist} 
                                </li>
                                {/if}
                            </ul>
                             {/volist}
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
  <iframe id="iframe_content" src="{:url('content',['id'=>$id])}" style="width:100%;" frameborder="0" scrolling="atuo" onload="changeFrameHeight()"></iframe>
            </div>
        </div>
    </div>
    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ADMIN__/js/content.min.js?v=1.0.0"></script>
    <script src="__ADMIN__/js/plugins/jsTree/jstree.min.js"></script>
    <style>
        .jstree-open>.jstree-anchor>.fa-folder:before {
            content: "\f07c"
        }

        .jstree-default .jstree-icon.none {
            width: 0
        }
    </style>
    <script>
	//去除滚动条
	 function changeFrameHeight() {
            document.getElementById("iframe_content").height = document.documentElement.clientHeight - 44;
        };
        window.onresize = function() {
            changeFrameHeight();
        }
        $(document).ready(function() {
            $("#jstree")
                .on('changed.jstree', function(e, data) { //点击事件
                    var url = $('#' + data.node.id).children('a').attr('href');//通过点击的li标签的id获取链接地址
                    if (url != '#') {
                        $('#iframe_content').attr('src', url);
                    }
                })
                 .on('select_node.jstree', function(e, data) {
                    if (data.node.id == 'j1_1') {
                        if (data.instance.is_open(data.instance.get_next_dom(data.node))) {
                            var i, j;
                            for (i = 0, j = data.node.children.length; i < j; i++) {
                                data.instance.close_node(data.node.children[i]);
                            }
                        } else {
                            data.instance.open_all(data.node);
                        }
                    } else {
                        data.instance.toggle_node(data.node);
                    }
                })
                .jstree({
                    "core": {
                        "check_callback": true,
                        "dblclick_toggle": false
                    },
                    "plugins": ["types", "dnd"],
                    "types": {
                        "default": {
                            "icon": "fa fa-folder"
                        },
                        "html": {
                            "icon": "fa fa-file-code-o"
                        },
                        "svg": {
                            "icon": "fa fa-file-picture-o"
                        },
                        "css": {
                            "icon": "fa fa-file-code-o"
                        },
                        "img": {
                            "icon": "fa fa-file-image-o"
                        },
                        "js": {
                            "icon": "fa fa-file-text-o"
                        }
                    }
                });
        });
    </script>
</body>

</html>
