<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 信息发布</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="__ADMIN__/plugins/webuploader-0.1.5/webuploader.css" rel="stylesheet">
    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/ajaxfileupload.js"></script>
</head>

<body class="gray-bg">

 <div class="form-group">
 <label class="col-sm-2 control-label">分类图片</label>
<div class="col-sm-10">
<input type="file" id="file_thumb_0" name="thumb" class="file_thumb form-control" style="display: none;">
<div class="input-append input-group">
 <span class="input-group-btn"><button id="btn_thumb_0" class="btn_thumb btn btn-white" type="button">选择图片</button></span>
 <input id="info_thumb_0" name="catthumb" class="input-large form-control" type="text">
 </div>
 </div></div></div>
 </div>   
 
<div class="form-group">
<label class="col-sm-2 control-label"></label>
<div class="col-sm-10">
<img id="add_thumb_0" src="__ADMIN__/img/nopic.jpg" width="150"/>
</div>
</div>


 <div class="form-group">
 <label class="col-sm-2 control-label">分类图片</label>
<div class="col-sm-10">
<input type="file" id="file_thumb_1" name="thumb1" class="file_thumb form-control" style="display: none;">
<div class="input-append input-group">
 <span class="input-group-btn"><button id="btn_thumb_1" class="btn_thumb btn btn-white" type="button">选择图片</button></span>
 <input id="info_thumb_1" name="catthumb1" class="input-large form-control" type="text">
 </div>
 </div></div></div>
 </div>   
 
<div class="form-group">
<label class="col-sm-2 control-label"></label>
<div class="col-sm-10">
<img id="add_thumb_1" src="__ADMIN__/img/nopic.jpg" width="150"/>
</div>
</div>

<script type="text/javascript">
$(function(){
   $(".btn_thumb").click(function(){
	 $(this).parents('.form-group').find('.file_thumb').click();
   });
	  //异步上传
	  $("body").delegate('.file_thumb', 'change', function(){
		  var eleid = $(this).attr('id');
		  var _num = eleid.split('_');
		  var elename = $(this).attr('name');
		  var filepath = $(this).val();
		  var arr = filepath.split('.');
		  var ext = arr[arr.length-1];
		  var allowext = new Array("jpg","png","gif");
		  if(allowext.indexOf(ext)>=0){
			  $.ajaxFileUpload({
				url: "{:url('upload_image')}",
				secureurl: false,
				fileElementId: eleid, //file标签ID
				dataType: 'json', //返回数据类型
				data:{name:elename},
				success:function (data,status){
					$("#info_thumb_"+_num[2]).val(data);
					$("#add_thumb_"+_num[2]).attr('src','/uploads/'+ data);
					$("#info_thumb_"+_num[2]).focus();
				},
				complete:function (XMLHttpRequest){

				},
				error:function (data,status,e){
					alert('上传失败!');
				},
			});
		  } else {
			  //清空file
			  $("eleid").val("");
			  alert('请上传合适的图片类型!');
		  }

	  });
				
});
</script>
</body>
</html>