<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$info.catname}</title>
  <meta name="keywords" content="雪狐CMS内容管理系统">
  <meta name="description" content="雪狐CMS内容管理系统">
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="__INDEX__/default/images/favicon.png" sizes="114x114">
  <!--[if lt IE 9]>
    <script type='text/javascript' src='__INDEX__/default/js/html5-css3.js'></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="__INDEX__/default/css/autoptimize.css" />
  <link rel="stylesheet" type="text/css" href="__INDEX__/default/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="__INDEX__/default/css/layui.css" />
  <style>
  .leftmenu{ width:80%; margin:10px auto;}
  .leftmenu h4{ height:30px; line-height:30px;  text-indent:20px;}
  .leftmenu h4 a{ font-weight:bold;}
  .leftmenu .second li{text-indent:20px;}
  .leftmenu .third li a{padding-left:10px; font-size:13px;}
  </style>
  <script type='text/javascript' src='__INDEX__/default/js/push.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/jquery/jquery.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/jquery/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='__INDEX__/default/plugins/nix-gravatar-cache/js/main.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/jquery.min.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/scrollmonitor.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/slides.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/echo.min.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/script.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/flexisel.js'></script>
</head>

<body>
{include file='index/head' /}

<nav class="breadcrumb">
    {:position($id)}
</nav>

  <div id="content" class="site-content">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        {volist name="data" id="vo"}
        <article class="post type-post status-publish format-standard hentry">
          <figure class="thumbnail">
            <a href="{:url('info',array('id'=>$vo.id,'catid'=>$vo.catid))}"> <img src="__UPLOAD__/{$vo.thumb}" alt="" style="width:100%"></a>
            <!--<span class="cat"> <a href="#">{$vo.catid|getCatInfo="catname"}</a></span>-->
          </figure>
          <header class="entry-header">
            <h2 class="entry-title"><a href="{:url('info',array('catid'=>$vo.catid,'id'=>$vo.id))}" rel="bookmark">{$vo.title}</a></h2>
          </header>
          <div class="entry-content">
            <div class="archive-content">{$vo.description|mb_substr=0,100,utf8}</div>
            <br/>
            <span class="title-l"></span>
            <span class="entry-meta">
              <span class="date">{$vo.inputtime}&nbsp;</span>
              <span class="views"> 阅读 {$vo.views}&nbsp;</span>
              <span class="comment"><a href="#"> <i class="fa fa-comment-o"></i> 查看评论</a></span>
            </span>
            <div class="clear"></div>
          </div>
          <span class="entry-more"> <a href="{:url('info',array('catid'=>$vo.catid,'id'=>$vo.id))}" rel="bookmark">阅读全文</a></span>
        </article>
		{/volist}
        <div class="layui-box layui-laypage layui-laypage-molv" style="float:right;">
        {$data->render()}
        </div>
      </main>
    </div>




    <div id="sidebar" class="widget-area">
    
    
          <aside class="widget">
        <h3 class="widget-title"><i class="fa-bars fa"></i>分类目录</h3>
        <div class="leftmenu">
        {volist name="category" id="vo"}
          <h4><a href="{if $vo.isend eq 1}{:url('category',array('id'=>$vo.id))}{else}#{/if}">{$vo.catname}</a></h4>
          <ul class="second">
          {volist name="vo.son" id="v1"}
          <li><a href="{if $v1.isend eq 1}{:url('category',array('id'=>$v1.id))}{else}#{/if}">|--- {$v1.catname}</a></li>
          <ul>
          {volist name="v1.son" id="v2"}
           <li><a href="{if $v2.isend eq 1}{:url('category',array('id'=>$v2.id))}{else}#{/if}">|---- {$v2.catname}</a></li>
           <ul>
           {volist name="v2.son" id="v3"}
           <li><a href="{if $v3.isend eq 1}{:url('category',array('id'=>$v3.id))}{else}#{/if}">|---- {$v3.catname}</a></li>
           {/volist}
           </ul>
          {/volist}
          </ul>
          {/volist}
          </ul>
         {/volist}
          </div>
          <div class="clear"></div>
      </aside>
    
    
      <aside class="widget widget_hot_commend">
        <h3 class="widget-title"><i class="fa-bars fa"></i>本类推荐</h3>
        <div id="hot" class="hot_commend">
          <ul>
            {Article:article catid="$id" row="3" flag="r"}
            <li>
              <figure class="thumbnail"><a href="#"><img src="__UPLOAD__/{$vo.thumb}" alt=""></a></figure>
              <div class="hot-title"><a href="#">{$vo.title|mb_substr=0,10,utf8}</a></div>
              <div class="views">阅读 {$vo.views}</div>
              <i class="fa-thumbs-o-up fa"> 0</i>
            </li>
           {/Article:article}
          </ul>
          <div class="clear"></div>
        </div>
        
      </aside>

      <aside class="widget widget_hot_post">
        <h3 class="widget-title"><i class="fa-bars fa"></i>热门文章</h3>
        <div id="hot_post_widget">
          <ul>
            {Article:article catid="$id" row="5" orderby="views"}
            <li><span class="li-icon li-icon-{$key+1}">{$key+1}</span><a href="{:url('info',array('catid'=>$vo.catid,'id'=>$vo.id))}">{$vo.title|mb_substr=0,10,utf8}</a></li>
            {/Article:article}
          </ul>
        </div>
      </aside>


    </div>

    <div class="clear"></div>


    </div>

  </div>

  {include file='index/foot' /}
</body>
</html>
