<div id="footer-widget-box">
    <div class="footer-widget">

    <aside class="widget widget_nav_menu">
      <div>
        <ul class="menu">
          <li class="menu-item"><a href="#"><i class="fa-indent fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-wrench fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-file-code-o fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-database fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-leaf fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-desktop fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-star-half-o fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-envelope-o fa"></i><span class="font-text">测试1</span></a></li>
          <li class="menu-item"><a href="#"><i class="fa-pencil-square-o fa"></i><span class="font-text">测试1</span></a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </aside>
    <div class="clear"></div>
    </div>
  </div>

  <footer id="colophon" class="site-footer">
    <div class="site-info">{PC:debris key='copyright'}</div>
  </footer>

  <ul id="scroll">
    <li><a class="scroll-t" title="返回顶部"><i class="fa-angle-up fa"></i></a></li>
    <li><a class="scroll-b" title="返回底部"><i class="fa-angle-down fa"></i></a></li>
    <li><a class="qr" title="二维码"><i class="fa-qrcode fa"></i></a></li>
  </ul>
  <span class="qr-img"><img src="__INDEX__/default/images/weixin.png" alt="雪狐网"></span>

  <script type='text/javascript' src='__INDEX__/default/js/superfish.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/infinite-scroll.js'></script>
  <script type='text/javascript' src='__INDEX__/default/js/3dtag.js'></script>