<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="雪狐CMS内容管理系统">
  <meta name="description" content="雪狐CMS内容管理系统">
  <title>雪狐CMS内容管理系统</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="apple-touch-icon" href="../__INDEX__/default/images/favicon.png" sizes="114x114">
  <!--[if lt IE 9]>
    <script type='text/javascript' src='__INDEX__/default/js/html5-css3.js'></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="../__INDEX__/default/css/autoptimize.css" />
  <link rel="stylesheet" type="text/css" href="../__INDEX__/default/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
  <script type='text/javascript' src='../__INDEX__/default/js/push.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/jquery/jquery.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/jquery/jquery-migrate.min.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/plugins/nix-gravatar-cache/js/main.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/jquery.min.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/scrollmonitor.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/slides.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/echo.min.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/script.js'></script>
  <script type='text/javascript' src='../__INDEX__/default/js/flexisel.js'></script>
</head>

<body>
  <h1>blue</h1>
</body>
</html>
